# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

*.rar
*.swp
*.bin
*.checkpoint
*ShaderCache*
*PCTOC*
*.log

*IphoneTOC*
*.dmp
*.u
*.url
 
.vs/








# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.opendb
*.ipch
*.ipch


GLProjects/GLApp/.vs/GLApp/v15/ipch/AutoPCH/9873283e6ebf7d41/MAIN.ipch
GLProjects\GLApp\Debug\
GLProjects\GLApp\Release\